.root{
    -fx-background-color: linear-gradient(to bottom, #00ffff, #6a5acd);
}
.root{
    -fx-background-image: url("LoginBackground.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 1350 900;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}
.label{
    -fx-text-fill: #000000;
}
.button{
    -fx-background-color: #AB4642;
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 8;
}
.button-blue{
    -fx-background-color: #3c78d8;
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 8;
    -fx-font-family: 'Tahoma', Arial, sans-serif;
    -fx-font-weight: bold;
    -fx-font-size: 1.2em;
}
#bold-label{
    -fx-font-weight: bold;
}

.progress-bar > .bar {
    -fx-background-color: linear-gradient(
        from 0px .75em to .75em 0px,
        repeat,
        -fx-accent 0%,
        -fx-accent 49%,
        derive(-fx-accent, 30%) 50%,
        derive(-fx-accent, 30%) 99%
    );
}
