.root{
    -fx-background-color: linear-gradient(to bottom, white , c8d1d2);
     background-color: linear-gradient(to bottom, white , c8d1d2);
}
.label{
    -fx-text-fill: black;
    -fx-background-radius: 8;
    -fx-font-family: 'Tahoma';
    -fx-font-weight: bold;
    -fx-font-size: 1em;
}

.dark-label{
    -fx-text-fill: black;
    -fx-background-radius: 8;
    -fx-font-family: sans-serif;
    -fx-font-weight: bold;
    -fx-font-size: 0.8em;
}

.welcome-label {
    -fx-text-fill: rgb(0, 0, 0);
    -fx-background-radius: 8;
    text-align: center;
    -fx-font-family: 'Tahoma';
    -fx-font-weight: bold;
    -fx-font-size: 1.2em;
}

.button-red{
    -fx-background-color: #e2174d;
    -fx-text-fill: white;
    -fx-font-family: sans-serif;
    -fx-background-radius: 4;
    -fx-font-weight: bold;
    -fx-font-size: 13;
}

.button-red:hover {
    -fx-background-color: white;
    -fx-text-fill: #e2174d;
}

.button-blue{
    -fx-background-color: #2196f3;
    -fx-text-fill: white;
    -fx-font-family: sans-serif;
    -fx-background-radius: 4;
    -fx-font-weight: bold;
    -fx-font-size: 13;
}

.button-blue:hover {
    -fx-background-color: white;
    -fx-text-fill: #2196f3;
}

#bold-label{
    -fx-font-weight: bold;
    font-weight: bold;
}

.text-field {
    -fx-background-color: #ffffff;
    background-color: #ffffff;

    -fx-font-family: sans-serif;
    font-family:  sans-serif;

    -fx-font-weight: bold;
    font-weight: bold;

    -fx-font-size: 0,8em;
    font-size: 0,8em;
}

.text-field:focused {
    -fx-background-color:
        #2196f3,
        #ffffff;
    background-color: 
        #2196f3,
        #ffffff;;
}

.check-box .box {
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-radius:3px; 
    -fx-font-family: sans-serif;
}
    
.check-box:selected .mark {
    -fx-background-color: white;
}
    
.check-box:selected .box {
    -fx-background-color: black;
    color: white;
}