.root{
    -fx-background-color: linear-gradient(to bottom, white , c8d1d2);
     background-color: linear-gradient(to bottom, white , c8d1d2);
}

.description-label{
    -fx-text-fill: black;
    -fx-background-radius: 8;
    -fx-font-family: 'Tahoma';
    -fx-font-weight: bold;
    -fx-font-size: 1em;
}

.welcome-label {
    -fx-text-fill: rgb(0, 0, 0);
    -fx-background-radius: 8;
    text-align: center;
    -fx-font-family: 'Tahoma';
    -fx-font-weight: bold;
    -fx-font-size: 1.2em;
}

.button-switch{
    -fx-background-color: #e2174d;
    -fx-text-fill: white;
    -fx-font-family: sans-serif;
    -fx-background-radius: 4;
    -fx-font-weight: bold;
    -fx-font-size: 13;
}

.button-switch:hover {
    -fx-background-color: white;
    -fx-text-fill: #e2174d;
}

.button-login{
    -fx-background-color: #2196f3;
    -fx-text-fill: white;
    -fx-font-family: sans-serif;
    -fx-background-radius: 4;
    -fx-font-weight: bold;
    -fx-font-size: 13;
}

.button-login:hover {
    -fx-background-color: white;
    -fx-text-fill: #2196f3;
}

.input-field {
    -fx-background-color: #ffffff;
    background-color: #ffffff;

    -fx-font-family: sans-serif;
    font-family:  sans-serif;

    -fx-font-weight: bold;
    font-weight: bold;

    -fx-font-size: 0,8em;
    font-size: 0,8em;
}

.input-field:focused {
    -fx-background-color:
        #2196f3,
        #ffffff;
    background-color: 
        #2196f3,
        #ffffff;;
}

.tooltip {
    -fx-background-color: rgb(39, 40, 34); 
    -fx-text-fill: rgb(85,85,255); 
    -fx-font-family: tahoma;
     -fx-font-weight: bold;
     -fx-border-radius:1px 1px 1px 1px; 
}
