.app {
  height: 100vh;
  background: lightgrey;
  min-height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.email {
  border: 2px solid rgb(43, 112, 190);
  height: 300px;
  color: white;
  width: 300px;
  background: rgb(43, 112, 190);
  border-radius: 25px;
  display: flex;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
