.parent {
    -fx-background-color: linear-gradient(to right, #cfd9df    , #e2ebf0);
}

.drag-label {
    -fx-background-color: #303138;
}

.close-btn {
    -fx-background-color: transparent;
    -fx-font-size: 1.2em;
    -fx-font-family: sans-serif;
    -fx-font-weight: bold;

}

.close-btn:hover {
    -fx-background-color: #E81123;
}

.min-btn {
    -fx-background-color: transparent;
    -fx-font-size: 1.2em;
    -fx-font-family: sans-serif;
    -fx-font-weight: bold;

}

.min-btn:hover {
    -fx-background-color: #171717;
}

.window-label {
    -fx-font-size: 1.2em;
    -fx-font-family: sans-serif;
    -fx-font-weight: bold;
}

.description-label{
    -fx-text-fill: black;
    -fx-background-radius: 8;
    -fx-font-family: 'Tahoma';
    -fx-font-weight: bold;
    -fx-font-size: 1em;
}

.input-field {
    -fx-accent: rgb(204,153,0) ;
    -fx-background-color: #ffffff;
    -fx-font-family: sans-serif;
    -fx-font-weight: bold;
    -fx-font-size: 0,8em;
}

.input-field:focused {
    -fx-background-color:
        #2196f3,
        #ffffff;
}

.choice-box {
    -fx-background-color: #e2174d;
   -fx-mark-color: white; 
   -fx-font-family: sans-serif;
    -fx-font-weight: bold;
}

.choice-box > .label { 
    -fx-text-fill: white; 
    -fx-font-family: sans-serif;
    -fx-font-weight: bold;
}

.choice-box .context-menu { 
    -fx-background-color: #e2174d;
}

.choice-box .menu-item:focused { 
    -fx-background-color: #bb123f; 
}

.choice-box .menu-item > .label {
     -fx-text-fill: white; 
    }

.choice-box .menu-item:focused > .label {
    -fx-background-color: #bb123f;
}

.button-discard{
    -fx-background-color: #e2174d;
    -fx-text-fill: white;
    -fx-font-family: sans-serif;
    -fx-background-radius: 4;
    -fx-font-weight: bold;
    -fx-font-size: 13;
}

.button-discard:hover {
    -fx-background-color: white;
    -fx-text-fill: #e2174d;
}


.button-login{
    -fx-background-color: #2196f3;
    -fx-text-fill: white;
    -fx-font-family: sans-serif;
    -fx-background-radius: 4;
    -fx-font-weight: bold;
    -fx-font-size: 13;
}

.button-login:hover {
    -fx-background-color: white;
    -fx-text-fill: #2196f3;
}

.tooltip {
    -fx-background-color: rgb(39, 40, 34); 
    -fx-text-fill: rgb(85,85,255); 
    -fx-font-family: tahoma;
     -fx-font-weight: bold;
     -fx-border-radius:1px 1px 1px 1px; 
}

.scroll-bar:vertical .thumb{
    -fx-background-color :#123368;
    -fx-border-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-overflow-y: scroll;
    -fx-overflow-x: hidden;

}

.scroll-bar:vertical .track{
    -fx-background-color :rgb(252, 251, 227);
    -fx-border-color :black;
    -fx-background-radius : 0.0em;

    -fx-overflow-y: scroll;
    -fx-overflow-x: hidden;
}


.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 10.0 0.0 0.0;

}

 .scroll-bar .increment-arrow,
 .scroll-bar .decrement-arrow{
    -fx-shape : " ";    
    -fx-padding :0.15em 0.0;
}

 .scroll-bar:vertical .increment-arrow,
 .scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";    
    -fx-padding :0.0 0.15em;
}

.progress-bar {
    -fx-background-color: transparent;
    -fx-indeterminate-bar-length: 169;
}
.progress-bar > .bar {
    -fx-background-color: linear-gradient(
        from 0px .75em to .75em 0px,
        repeat,
        -fx-accent 0%,
        -fx-accent 49%,
        derive(-fx-accent, 30%) 50%,
        derive(-fx-accent, 30%) 99%
    );
    -fx-background-insets: 3 3 4 3;
    -fx-background-radius: 3em;
    -fx-border-radius: 30px;
    -fx-padding: 0.75em;
    
}
.progress-bar:indeterminate > .bar {
    -fx-background-color: linear-gradient(
        from 0px .75em to .75em 0px,
        repeat,
        -fx-accent 0%,
        -fx-accent 49%,
        -fx-background-color,
        derive(-fx-accent, 30%) 50%,
        derive(-fx-accent, 30%) 99%
    );


}
.progress-bar > .track {
    -fx-background-color: transparent;
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-border-radius: 25px;
}

.popup {
    -fx-text-fill: rgb(0, 0, 0); 
    -fx-font-weight: bold;
    -fx-font-family: sans-serif;
    -fx-font-size: 11;

    -fx-hgap: 4px;
    -fx-padding: 4px;

    -fx-background-color: rgb(226, 40, 102);
    -fx-background-radius: 4px;

    -fx-border-radius: 4px;
    -fx-border-width: 1px;
    -fx-border-color: black;
}

.table-view .scroll-bar * {
    -fx-min-width: 0;
    -fx-pref-width: 0;
    -fx-max-width: 0;

    -fx-min-height: 0;
    -fx-pref-height: 0;
    -fx-max-height: 0;
}

.table-view {
    -fx-background-color: #123368;
}

.table-view .column-header-background {
    -fx-background-color: #123368 ;
    -fx-background-radius: 20;
    -fx-background-insets: 0 0 10 0;
    -fx-padding: 0 0 10 0;
    -fx-fill: white;
}

.table-view .column-header, .table-view .filter {
    -fix-size: 20;
    -fix-border-width: 0 0 10 0;
    -fix-background-color: transparent;
    -fx-fill: white;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: #2196f3;
}

.table-view .cell{
    fx-cell-size: 30;
   -fx-alignment: center-left;
   -fx-background-color: transparent;
   -fx-text-fill: black;
   -fx-alignment: CENTER_LEFT;
   -fx-font-weight: bold;
   -fx-border-color: black;
 }

 .table-row-cell {
    -fx-background-color: transparent;
    -fx-border-color: black;
    -fx-border-width: 2;
}


 .table-row-cell:empty {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0px;
}
 
.table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
}
.table-view .column-header {
    -fx-background-radius: 16 16 16 16;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-color: transparent;
}

.table-view .column-header .label {
    -fx-background-radius: 16 16 16 16;
    -fx-text-fill: white;
}

.table-view *.scroll-bar:horizontal *.increment-button,
.table-view *.scroll-bar:horizontal *.decrement-button {
  -fx-background-color: null;
  -fx-background-radius: 0;
  -fx-background-insets: 0;
  -fx-padding: 0;
}

.table-view *.scroll-bar:horizontal *.increment-arrow,
.table-view *.scroll-bar:horizontal *.decrement-arrow {
  -fx-background-color: null;
  -fx-background-radius: 0;
  -fx-background-insets: 0;
  -fx-padding: 0;
  -fx-shape: null;
}

.check-box:selected .box {
    -fx-background-color: #e2174d;
    -fx-border-color:#e2174d;
    -fx-border-radius:4px; 
}
    
.check-box:selected .mark {
    -fx-background-color: white;
}
    
.check-box:selected .box {
    -fx-background-color: #e2174d;
}

.check-box:selected .box:hover {
    -fx-background-color: white;
    -fx-border-color:white;
    -fx-border-radius:4px; 
}
    
.check-box:selected .mark:hover {
    -fx-background-color: #e2174d;
}
    
.check-box:selected .box:hover {
    -fx-background-color: white;
}

.check-box .box {
    -fx-background-color: white;
    -fx-border-color:white;
    -fx-border-radius:4px; 
}
    
.check-box .box {
    -fx-background-color: white;
}

.check-box .box:hover {
    -fx-background-color: white;
    -fx-border-color:white;
    -fx-border-radius:4px; 
}
    
.check-box .mark:hover {
    -fx-background-color: #e2174d;
}
    
.check-box .box:hover {
    -fx-background-color: white;
}