.parent {
    -fx-background-color: linear-gradient(to bottom, #fdfcfb  , #e2d1c3);
}

.drag-label {
    -fx-background-color: #303138;
}

.close-btn {
    -fx-background-color: transparent;
    -fx-font-size: 1.2em;
    -fx-font-family: sans-serif;
    -fx-font-weight: bold;

}

.close-btn:hover {
    -fx-background-color: #E81123;
}

.min-btn {
    -fx-background-color: transparent;
    -fx-font-size: 1.2em;
    -fx-font-family: sans-serif;
    -fx-font-weight: bold;

}

.min-btn:hover {
    -fx-background-color: #171717;
}

.window-label {
    -fx-font-size: 1.2em;
    -fx-font-family: sans-serif;
    -fx-font-weight: bold;
}

.description-label{
    -fx-text-fill: black;
    -fx-background-radius: 8;
    -fx-font-family: 'Tahoma';
    -fx-font-weight: bold;
    -fx-font-size: 1em;
}

.input-field {
    -fx-background-color: #ffffff;
    background-color: #ffffff;

    -fx-font-family: sans-serif;
    font-family:  sans-serif;

    -fx-font-weight: bold;
    font-weight: bold;

    -fx-font-size: 0,8em;
    font-size: 0,8em;
}

.input-field:focused {
    -fx-background-color:
        #2196f3,
        #ffffff;
    background-color: 
        #2196f3,
        #ffffff;;
}

.choice-box {
    -fx-background-color: #e2174d;
   -fx-mark-color: white; 
   -fx-font-family: sans-serif;
    -fx-font-weight: bold;
}

.choice-box > .label { 
    -fx-text-fill: white; 
    -fx-font-family: sans-serif;
    -fx-font-weight: bold;
}

.choice-box .context-menu { 
    -fx-background-color: #e2174d;
}

.choice-box .menu-item:focused { 
    -fx-background-color: #bb123f; 
}

.choice-box .menu-item > .label {
     -fx-text-fill: white; 
    }

.choice-box .menu-item:focused > .label {
    -fx-background-color: #bb123f;
}


.button-login{
    -fx-background-color: #2196f3;
    -fx-text-fill: white;
    -fx-font-family: sans-serif;
    -fx-background-radius: 4;
    -fx-font-weight: bold;
    -fx-font-size: 13;
}

.button-login:hover {
    -fx-background-color: white;
    -fx-text-fill: #2196f3;
}

.tooltip {
    -fx-background-color: rgb(39, 40, 34); 
    -fx-text-fill: rgb(85,85,255); 
    -fx-font-family: tahoma;
     -fx-font-weight: bold;
     -fx-border-radius:1px 1px 1px 1px; 
}
